%h1 Create a new restaurant site
= form_for @restaurant do |f|
  %fieldset
    = f.label :name, 'Name'
    = f.text_field :name
    = f.label :address, 'Address'
    = f.text_field :address
    = f.label :phone_number, 'Phone Number'
    = f.text_field :phone_number
    = owner_area(f, current_user)
    = f.submit "Create Site"
