%h1 Create a new restaurant site
= form_for @restaurant do |f|
  %fieldset
    = f.label :name, 'Name'
    = f.text_field :name
    %br
    = owner_area(f, current_user)
    %br
    = f.label :address, 'Address'
    = f.text_field :address
    %br
    = f.submit "Create Site"
