%h1 Create a new restaurant site
= form_for @restaurant do |f|
  %fieldset
    = f.label :name, 'Name'
    = f.text_field :name
    %br
    = f.label :address, 'Address'
    = f.text_field :address
    %br
    = f.label :phone_number, 'Phone Number'
    = f.text_field :phone_number
    %br
    %br
    = owner_area(f, current_user)
    %br
    %h3= "Sections: "
    = f.fields_for :sections do |s|
      = s.label :name, 'Name'
      = s.text_field :name
      %br
      %h3= "Items: "
      = s.fields_for :menuitems do |m|
        = m.label :name, 'Name'
        = m.text_field :name
        = m.label :description, 'Description'
        = m.text_field :description
        = m.label :price, 'Price'
        = m.text_field :price
        %br
        = f.submit "Create Site"
