%h1
  = @restaurant.name
%h2
  = "Owner: " + owner_name(@restaurant)
%h2
  = "Address: " + @restaurant.address
%h2
  = "Phone Number: " + @restaurant.phone_number
%h2 About
%p= @restaurant.about.nil? ? "" : @restaurant.about
%h2
  = "Menu"
- @restaurant.sections.each do |section|
  %h3= section.name
  - section.menuitems.each do |item|
    %h5= item.name + " " + item.price.to_s

%br
%br

=form_for @restaurant do |f|
  %fieldset
    = f.label "Name", :name
    = f.text_field :name
    = f.label "Address", :address
    = f.text_field :address
    = f.label "Phone Number", :phone_number
    = f.text_field :phone_number
    %br
    %h3= "Sections: "
    = f.fields_for :sections do |s|
      = s.label :name, 'Name'
      = s.text_field :name
      %br
      %h3= "Items: "
      = s.fields_for :menuitems do |i|
        = i.label :name, 'Name'
        = i.text_field :name
        = i.label :description, 'Description'
        = i.text_field :description
        = i.label :price, 'Price'
        = i.text_field :price
        = f.submit "Update"
