<!DOCTYPE html>
%html
  %head
    %title Restaur.tr
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery-1.4.4.min.js"
    = javascript_include_tag "rails"
    = javascript_include_tag "jquery.jcarousel.min.js"
    = csrf_meta_tag
  %body
    .content
      %ul.hmenu
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'
      = yield
    .footer
      A project by <a href="http://www.jibbey.com" target="_blank">Jibbey</a> and <a href="http://www.brousalis.com" target="_blank">Brousalis</a>
